<h1 class = 'go'>Hi, my name is Brandon Fong!</h1>

<%= image_tag("DSC_0050", height: 200, width: 300) %>

<p class = 'bears'>This is my first HTML website page!</p>
<p class = 'go'>I am a sophomore Computer Science major from Torrance, California!</p>
<p class = 'bears'>I won the game show Brainsurge!</p>
<p class = 'go'>I want to learn how to create on the web and I'm excited to learn how to make a site that people can interact with!</p>
<p class = 'bears'>I use too many exclamation points!</p>
